# Ignora a pasta do ambiente virtual (Grande e exclusiva para sua máquina)
venv/
# Ignora arquivos compilados do Python
*.pyc
# Ignora as imagens que o usuário fizer upload (são dados, não código)
static/images/
